@use 'colors';
@use 'fonts';

//Call to action button component with hover
%cta{
    width: 11rem;
    padding: 1rem;
    font-size: 80%;
    background: colors.$purple;
    border: none;
    color: colors.$font-color;
    border-radius: 0.5rem;
    text-transform: uppercase;
}

%cta:hover{
    cursor: pointer;
    background: darken(colors.$pink, 10%);
    transition: 0.2s;
}

//default header for sections
%header{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width:1000px) {
    %header{
        background: red;
    }
}
//h2 heading for sections and header
%h2Handwriting{
    font-family: fonts.$handwriting;
    font-size: 380%;
    color: colors.$font-color;
}

//default sections
%section{
    padding: 4rem;
    height: 100rem;
    border-bottom: colors.$border-pink-small;

}

%icon{
    font-size: 250%;
    color: colors.$font-color;
    border: 0.5rem solid colors.$pink;
    border-radius: 50%;
    padding: 1.5rem;
}